@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root{

}
body{
    padding: 0;
    margin: 0;
    background-color: var(--bg);
}

*{
    box-sizing: border-box;
}

* li{
    list-style: none;
    margin-bottom: 20px;
    
}

i{
    vertical-align: middle;
}

.text{
    color: var(--color-font);
}

#fButton{
    color: var(--color-font);
}

.levels{
    margin: 0 1px;
    float: right;
    width: 5px;
    height: 5px;
    border-radius: 100%;
}


.low-level{
    background-color: #b67162;
}
.middle-level{
    background-color: #e9dc65;
}
.high-level{
    background-color: #76b662;
}


.skills{
    height: auto;
}   

.skills img{ 
    width:50px;
    height: 50px;
}

.skill-image{
    position: relative;
    z-index: 200;
}

.sub-skills{
    width: 50px;
    transition: 0.2s all ease-out;
    opacity: 0;
}

.sub-skills-show{
    transition: 0.8s all ease-out;
    opacity: 1;
}

.sub-skills img{
    height: 25px;
    width: 25px;
}

@media (min-width: 320px) and (max-width: 500px)  {
    .skills img{ 
        width:40px;
        height: 40px;
    }
    
    .sub-skills img{
        height: 18px;
        width: 18px;    
    }   
    .sub-skills{
        width: 40px;
        transition: 0.2s all ease-out;
        opacity: 0;
    }
    .sub-skills-show{
        transition: 0.8s all ease-out;
        opacity: 1;
    }
    .levels{
        width: 4px;
        height: 4px;
    }
}

.fixed-buttons{
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 470px;
    background-color: transparent;
    /* background-color: #5b8e7d; */
    color: var(--color-font);
    border-radius: 25px;
    /* margin-top: 20px; */
}



.introduccion .imagen{
    text-align: center;    
}

.introduccion .imagen img{
    width: 300px;
    height: 300px;
}

@media (min-width: 320px) and (max-width: 400px)  {
    .introduccion .imagen img{
        width: 250px;
        height: 250px;
    }
}

.introduccion .descripcion{
    margin-top: 50px;
    justify-content: center;
    padding: 35px;
    font-family: 'Numans', sans-serif;
    font-weight: bold;
    text-align: center;
}



.educacion .info-educacion h4{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
}

.educacion .info-educacion ul{
    padding: 35px;
    text-align: left;
}
.educacion .info-educacion li {
    padding: 0px;
    font-size: 15px;
    font-family: 'Numans', sans-serif;
}

.informacion .info-personal h4{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
}
.informacion .info-personal ul{
    padding: 35px;
    text-align: left;
}
.informacion .info-personal li{
    padding: 0px;
    font-size: 14px;
    font-family: 'Numans', sans-serif;
}

.experiencia .experiencia-laboral{
    padding: 35px;
}
.experiencia .experiencia-laboral h4{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
}


.proyectos .info-proyectos h4{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
}
.proyectos .info-proyectos li{
    font-size: 14px;
    font-family: 'Numans', sans-serif;
}

.proyectos .info-proyectos ul{
    padding: 35px;
    text-align: left;
}

.link{
    color: var(--color-font);
}

.link:hover{
    color: var(--color-font);
    font-size: 16px;
    transition: all ease 0.4s;
}

.section-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.section-redes .item{
    display: flex;
    justify-content: center;
    float: left;
    align-items: center;
    margin-top: 20px;
    background-color: none;
}

.section-redes .item .item-git{
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.section-redes .item .item-link{
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.section-redes .item .item-mail{
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.section-redes .item .item-twitter{
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}


.section-redes .item img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}


.section-redes .item .item-git:hover{
    background-color: var(--bg);
    border-radius: 100%;
    transition: all ease-in-out 0.3s;
}
.section-redes .item .item-link:hover{
    background-color: var(--bg);
    border-radius: 100%;
    transition: all ease-in-out 0.3s;
}
.section-redes .item .item-mail:hover{
    background-color: var(--bg);
    border-radius: 100%;
    transition: all ease-in-out 0.3s;
}
.section-redes .item .item-twitter:hover{
    background-color: var(--bg);
    border-radius: 100%;
    transition: all ease-in-out 0.3s;
}

.fixed-action-btn {
    display: flex;
    flex-direction: row;
}

.label{
    background-color: var(--bg-button-label);
    border-radius: 10px;
    margin-right: -30px;
    opacity: 0;
    padding: 15px;
    height: 55px;
    width: 45px;
    font-family: 'Numans', sans-serif;
    animation-name: slideOut;
    animation-duration: 0.5s;
}

.label-visible{
    background-color: var(--bg-button-label);
    border-radius: 10px;
    margin-right: -30px;
    opacity: 1;
    padding: 15px;
    height: 55px;
    width: 140px;
    font-family: 'Numans', sans-serif;
    animation-name: slide;
    animation-duration: 0.3s;
}
.label-visible label{
    color: var(--color-font);
    font-size: 10px;
}

@keyframes slide {
    from {
      width: 45px;
      opacity: 0;
    }
    to {
      width:140px;
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      width: 140px;
      opacity: 1;


    }
    to {
      width: 45px;
      opacity: 0;

    }
  }


.fixed-action-btn a{
    background-color: var(--bg-button-float);
}

.fixed-action-btn a:hover{
    background-color: var(--bg-button-float-hover);
    box-shadow: 0px 0px 10px rgb(109, 109, 109);
}

.fixed-action-btn a:focus{
    background-color: var(--bg-button-float-hover);
    box-shadow: 0px 0px 10px rgb(109, 109, 109);      
}

footer{
    background-color: var(--bg);
    color: var(--color-font);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    bottom: 0px;
    padding: 20px;
}

@media only screen and (max-width: 350px) {
    .section-1 .imagen img{
        width: 250px;
        height: 250px
    }
    .section-2 .info-educacion ul{
        padding: 18px;
    }
    .section-3 .info-personal ul{
        padding: 18px;
    }
    .section-4 .info-proyectos ul{
        padding: 18px;
    }
}


@media only screen and (min-width: 1366px) {
    .section-1 .imagen img{
        width: 360px;
        height: 360px
    }
}