*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navegacion{
    position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 20%; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000;
}


.navegacion label{
    height: 60px;
    width: 160px;
    color: white;
    font-family: 'Economica', sans-serif;
    font-size: 20px;
}


.navegacion button{
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    color: white;
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

.lblFotosOculta{
    position: fixed;
    color: white;   
    left: -40px;
}

.lblYoOculta{
    position: fixed;
    left: -90px;
}
.lblPersonalesOculta{
    position: fixed;
    left: -140px;
}
.lblAcademicosOculta{
    position: fixed;
    left: -140px;
}
.lblProyectosOculta{
    position: fixed;
    left: -80px;
}
.lblRedesOculta{
    position: fixed;
    left: -110px;
}

@keyframes slidein{
    from {
        left:-140px;
    }
    to {
        left: 60px;
    }
}

.lblFotos{
    animation-duration: 0.3s;
    animation-name: slidein;
    background-color: #00A0B0;
    position: fixed;
    text-align: center;
    color: white;
}

.lblYo{
    animation-duration: 0.4s;
    animation-name: slidein;
    position: fixed;
    background-color: #6A4A3C;
    text-align: center;
}
.lblPersonales{
    animation-duration: 0.4s;
    animation-name: slidein;
    position: fixed;
    background-color: #CC333F;
    text-align: center;
}
.lblAcademicos{
    animation-duration: 0.4s;
    animation-name: slidein;
    position: fixed;
    background-color: #EB6841;
    text-align: center;
}
.lblProyectos{
    animation-duration: 0.4s;
    animation-name: slidein;
    position: fixed;
    background-color: #EDC951;
    text-align: center;
}
.lblRedes{
    animation-duration: 0.4s;
    animation-name: slidein;
    position: fixed;
    background-color: #B886E8;
    text-align: center;
}

.navegacion .Fotos{
    background-color: #00A0B0;
}
.navegacion .Yo{
    background-color: #6A4A3C;
}
.navegacion .Personales{
    background-color: #CC333F;
}
.navegacion .Academicos{
    background-color: #EB6841;
}
.navegacion .Proyectos{
    background-color: #EDC951;
}
.navegacion .Redes{
    background-color: #B886E8;
}

.contenedor-imagenes{
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #00A0B0;
}

.contenedor-yo{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 100%;
    height: 100%;
    width: 100%;
    background-color: #6A4A3C;
}

.contenedor-datos-personales{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 200%;
    height: 100%;
    width: 100%;
    background-color: #CC333F;
}

.contenedor-datos-academicos{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 300%;
    height: 100%;
    width: 100%;
    background-color: #EB6841;
}


.contenedor-proyectos{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 400%;
    height: 100%;
    width: 100%;
    background-color: #EDC951;
}
.contenedor-redes{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 500%;
    height: 100%;
    width: 100%;
    background-color: #B886E8;
}

.galeria-imagenes {
    height: calc( 300px + 3em);
    width: 260px;
    margin:1em auto;
    border: none;
    position: relative; 
}

.galeria-imagenes img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
}

.galeria-imagenes input[type=radio] {
    position: relative;
    bottom: calc(-400px - 0.1em);
    left: 42%;
  }

.galeria-imagenes input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
}

.galeria-imagenes input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
}

.galeria-imagenes input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
}

.galeria-imagenes input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
}

.galeria-imagenes input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
    opacity: 1;
}